.bg-black{
    background-color: black;
}

.sonylogo{
    text-align: right;
    margin-right: 0;
}

.btn-nav{
    border-radius: 30px;
}

.navbar-search{
    font-size: 2rem;
}

.nav-item , .nav-link{
    font-weight: bold;
}

.navbar a{
  color: black !important; 
}

a{
    text-decoration: none;
}

/* FINE NAVBAR */

/* INIZIO JUMBO */

.jumbo-bg {
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 75vh;
}

.container-main {
    padding-left: 50px;
}

.content-jumbo{
    padding-top: 20rem;
}

.title-main{
    font-size: 2.5rem;
}

.game-descr{
    font-weight: bold;
    /* max-width: 20%; */
}

#button-buy {
    color: white !important;
    background-color: #CD3D0F !important;
    padding: 10px;
}

.active-game:hover{
    border: 3px solid rgb(52, 49, 87);
    padding: 5px;
    border-radius: 20px;
    opacity: 0.6;
}

/* FINE JUMBO */

/* PARTE PRESENTAZIONE PS5 */

.accessori img {
    display: block;
    width: 50%;
    margin: auto;
    opacity: 0.5;
}

.accessori img:hover{
    opacity: 1;
}

.button-blue{
    background-color: blue;
    border-radius: 50px;
    padding: 10px 15px;
    color: white;
}

/* SEZIONE IT TAKES TWO */

#it-takes-two {
    background: url(img/it-takes-two-hero-banner-desktop.jpg) center;
    background-size: cover;
    color: white;
  }

  /* SEZIONE NUOVE USCITE */

.nuove-uscite{
    background-color: #333;
  }

.nuove-uscite img:hover{
    opacity: 0.3;
}
  /* FINE SEZIONE NUOVE USCITE */

  /* SEZIONE PS PLUS */

.ps-plus{
    background-color: #BEBCBB;
  }

.ps-plus a{
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
  }
/* FINE SEZIONE PS PLUS */

/* SEZIONE PSNOW */

.ps-now{
    background-color: #161C3B;
}

.ps-now a{
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
    color: black;
}
/* FINE SEZIONE PSNOW */

/* FOOTER */

footer{
    background-color: #00439C;
    color: white;
}

li, ul{
    list-style: none;
    color: white;
}

.lang a{
    color: white;
}

footer a{
    color: white;
}